name: CI-CD_docker-app-LB

on:
  push:
    branches:
      - main
      
jobs:
  ci_part:
    runs-on: ubuntu:latest
    
    steps:
    - name: Git clone repositories
      uses: actions/checkout@v2
  
  cd_part:
    runs-on: ubuntu:latest
    needs: [ci_part]
    
    steps:
    - name: Build the Docker Compose
      run: docker-compose up -d --build --scale app=3
